* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
}

body header {
    text-align: center;
    background-color: black;
    grid-area: header;
    height: 100px;

}

.logo {
    
    width: 250px;
    height: 130px;
}

body aside {

background-color: crimson;
grid-area: aside;
height: 600px;


}

li {
    margin: 20px 0;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }


body main {

    background-color: deepskyblue;
    grid-area: main;
    text-align: center;

}

.pic-main {

    width: 600px;
    height: 400px;
}

body footer {

    background-color: lightgreen;
    height: 50px;
    grid-area: footer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;

}