body {

    background-color: lightyellow;

}

h1 {

    background-color:lightskyblue;
    color: black;
    font-size: 45px;

}

.job-title {

    font-family: Verdana;
    font-weight: bold;
    font-size: 25px;

}


#high {

    background-color: pink;
    color:cornflowerblue;
    font-style: italic;
    
}

ul {

    background-color: grey  ;
}