
button {
    border: 0;
    padding: 12px 24px;
    background-color:olivedrab;
    color: black;
    border-radius: 10px;
    transition-duration: .6s;
}

button:hover {
    background-color: blueviolet;
    border-radius: 10px;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

input:valid{
    border-color: blue;

}


input:invalid{
    border-color: red;
    
}



input:focus {
    background-color: grey;
    color: white;
    transition-duration: .5s;
}

input:disabled {
    border-radius: 24px;
}

ul {
    list-style: none;
}

ul li {
    margin: 12px 0;
}



ul li:nth-child(3n) {
    color: red;
}

h1::before{
    content: 'Aqui aparece o pseudoseletor ::before';
    background-color: pink;
    color: black;
}

p::after{
    content: 'Aqui aparece o pseudoseletor ::after';
    background-color: orange;
    color: purple;
}

input:checked{
    transform: scale(2)
    
}